.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 80vw;
    margin: auto;
}
.item {
    position: relative;
    aspect-ratio: 1;
}
.item img {
    object-fit: cover;
}